@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* 
  --color-primary: #ed3849;
  --color-primary-dark: #d23141; */




.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair {
  font-family: "Playfair", serif;
  font-weight: 900;
}


@layer components {
  .loader {
    @apply inline-block relative box-border rounded-full w-12 h-12;
    border-width: 3px;
    border-color: #ed3849; /* main color */
    border-style: solid solid dotted dotted;
    animation: rotation 2s linear infinite;
  }

  .loader::after {
    content: '';
    @apply absolute inset-0 m-auto rounded-full w-6 h-6;
    box-sizing: border-box;
    border-width: 3px;
    border-color: #ed3849;
    border-style: solid solid dotted;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
}

@keyframes rotation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotationBack {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

